mixin select_item(item)
    .header__select-item 
        span.header__select-item-text=item
mixin custom_select(name)
    .header__select 
        .header__select-header
            span.header__select-current=name
            .header__select-icon
                img.header__select-icon-img(src="../media/svg/Select-icon.svg" alt="")
        .header__select-body
            +select_item("Post Header")
            +select_item("Post Layout")
            +select_item("Share Buttons")
            +select_item("Gallery Post")
            +select_item("Video Post")
header.header
    .header__mobile
        .header__mobile-top
            img.header__logo(src="../media/svg/Logotype.svg")
            .header__close-btn
                span.header__mobile-cross
        .header__bottom_mobile
            +custom_select("Demos")
            +custom_select("Post")
            +custom_select("Features")
            +custom_select("Categories")
            +custom_select("Shop")
            a.header__link(href="") Buy Now

    
    .header__top
        .header__burger
            span.header__burger-menu
        img.header__logo(src="../media/svg/Logotype.svg")
        .header__top_right
            input.header__text-field(type=text, placeholder="Поиск")
            button.header__search
    .header__bottom
        +custom_select("Demos")
        +custom_select("Post")
        +custom_select("Features")
        +custom_select("Categories")
        +custom_select("Shop")
        a.header__link(href="") Buy Now
